
.Navbar{
  background: linear-gradient(to right, rgb(237, 222, 5), rgb(226, 102, 40))
}

.gradient_background{
  background: linear-gradient(to right, rgb(237, 222, 5), rgb(226, 102, 40));
  height: 190px;
  
}

.cart-quantity{
  color: white;
}

.m-2 video{
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer{
  background: linear-gradient(to right, rgb(237, 222, 5), rgb(226, 102, 40));
  margin-top: end;
}

.Copy{
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}